#footer {
  background: #3A3A3A;
  color: var(--white);
  font-weight: 200;
  padding: 0px 20px;

  .content-wrapper {
    padding-top: 10px;
    padding-bottom: 15px;

    @media (--sm-break) {
      min-height: 80px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  p {
    text-align: center;

    @media (--sm-break) {
      text-align: left;
    }
  }

  .social-media {
    .social-icon {
      text-align: center;
      font-size: 1.7rem;
      text-decoration: none;
      margin-left: 26px;
      color: var(--white);
      transition: color 0.3s ease;

      &:hover {
        &.twitter {
          color: #55ACEE;
        }

        &.facebook {
          color: #3B5998;
        }

        &.github {
          color: #4078C0;
        }
      }

      @media (--sm-break) {
        text-align: right;
      }
    }
  }
}
