<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ADMIN!</title>

    <script src="https://use.typekit.net/moz1ffr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
  </head>

  <body>

    <%= if logged_in?(@conn) do %>
      <header>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <nav class="left">
              <a href="/" target="_blank">View Site</a>
              <a href="#">Test</a>
              <a href="#">Settings</a>
            </nav>

            <nav class="right">
              <a href="/logout">Logout</a>
            </nav>
          </div>
        </div>
      </header>
    <%= end %>

    <main role="main">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
