<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="<%= static_path(@conn, "/favicon/apple-touch-icon-57x57.png") %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= static_path(@conn, "/favicon/apple-touch-icon-60x60.png") %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= static_path(@conn, "/favicon/apple-touch-icon-72x72.png") %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= static_path(@conn, "/favicon/apple-touch-icon-76x76.png") %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= static_path(@conn, "/favicon/apple-touch-icon-114x114.png") %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= static_path(@conn, "/favicon/apple-touch-icon-120x120.png") %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= static_path(@conn, "/favicon/apple-touch-icon-144x144.png") %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= static_path(@conn, "/favicon/apple-touch-icon-152x152.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= static_path(@conn, "/favicon/apple-touch-icon-180x180.png") %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/favicon/favicon-32x32.png") %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/favicon/favicon-194x194.png") %>" sizes="194x194">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/favicon/favicon-96x96.png") %>" sizes="96x96">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/favicon/android-chrome-192x192.png") %>" sizes="192x192">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/favicon/favicon-16x16.png") %>" sizes="16x16">
    <link rel="manifest" href="<%= static_path(@conn, "/favicon/manifest.json") %>">
    <link rel="mask-icon" href="<%= static_path(@conn, "/favicon/safari-pinned-tab.svg") %>" color="#55a9c7">
    <meta name="msapplication-TileColor" content="#55a9c7">
    <meta name="msapplication-TileImage" content="<%= static_path(@conn, "/favicon/mstile-144x144.png") %>">
    <meta name="theme-color" content="#ffffff">
    <!-- End Favicon -->

    <title>Alluring Labs</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/lib.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73694507-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

    <header id="header" class="row middle-xs between-xs">
      <!-- <nav class="col-md-4">
        <a href="<%= post_path @conn, :index %>">Articles</a>
        <a href="#">Podcast</a>
        <a href="#">Code</a>
      </nav> -->

      <object type="image/svg+xml" data="/images/logo.svg">
        <img src="/images/logo.png" title="Logo" alt="Alluring Labs Logo">
      </object>

      <!-- <nav class="col-md-4">
        <a href="#">Showcase</a>
        <a href="#">About</a>
        <a href="<%= contact_path @conn, :index %>">Contact</a>
      </nav> -->
    </header>

    <main role="main" id="content">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer id="footer">
      <div class="content-wrapper row middle-xs between-xs">
        <div class="col-sm-6 col-xs-12">
          <p>&copy; 2016 Alluring Labs.  All Rights Reserved.</p>
          <a href="<%= page_path(@conn, :privacy) %>" target="_blank" class="privacy-policy">Privacy Policy</a>
        </div>

        <div class="social-media col-sm-6 col-xs-12">
          <div class="row middle-xs end-sm center-xs">
            <div class="col-xs-12">
              <a href="https://github.com/AlluringLabs/" target="_blank" class="social-icon github">
                <i class="fa fa-github"></i>
              </a>

              <a href="https://www.facebook.com/alluringlabs/" target="_blank" class="social-icon facebook">
                <i class="fa fa-facebook-f"></i>
              </a>

              <a href="https://twitter.com/alluring_labs" target="_blank" class="social-icon twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://use.typekit.net/moz1ffr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
      window.intercomSettings = {
        app_id: "zuooxq0z"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/zuooxq0z';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
