<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Labs!</title>

    <!-- TODO: Add meta tags here or figure out how to make them dynamic. -->
    <!-- TODO: Add section for Google Analytics -->

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav>
      <a href="/">Home</a>
      <a href="/podcast">Podcast</a>
      <a href="/code">Code</a>
      <a href="/showcase">Showcase</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
