#footer {
  background: #3A3A3A;
  color: var(--white);
  font-weight: 200;
  padding: 0px 20px;

  .content-wrapper {
    padding-top: 20px;
    padding-bottom: 15px;

    @media (--sm-break) {
      min-height: 80px;
    }
  }

  p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

    @media (--sm-break) {
      text-align: left;
    }
  }

  .social-media {
    .social-icon {
      text-align: center;
      font-size: 1.7rem;
      text-decoration: none;
      margin-left: 26px;
      color: var(--white);

      &:first-child {
        margin-left: 0px;
      }

      @media (--sm-break) {
        text-align: right;
      }
    }
  }

  .privacy-policy {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    text-align: center;
    margin: 10px 0px 20px;

    &:hover {
      color: var(--light-blue);
    }

    @media (--sm-break) {
      text-align: left;
      margin: 0px;
    }
  }
}
