.social-icon {
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    &.twitter {
      color: var(--twitter-blue) !important;
    }

    &.facebook {
      color: var(--facebook-blue) !important;
    }

    &.github {
      color: var(--github-blue) !important;
    }

    &.dribbble {
      color: var(--dribbble-pink) !important;
    }

    &.instagram {
      color: var(--instagram-brown) !important;
    }

    &.website {
      color: var(--website-blue) !important;
    }
  }
}
